<!DOCTYPE html>
<html>
    <head>
        <title>My Template</title>
        <meta charset="UTF-8">
    </head>
    <body>

    <h3>cells</h3>
    <h3>characters</h3>

    <h3>users</h3>
<%=  for e <- M4.get2 do %>
<span
style={"font-family:monospace;
 position: absolute; top: "<>
 "#{e.top+80}"
 <>"px; left: "<>
 "#{e.left}"
 <>"px;
  transform: rotate("<>
 "#{e.tilt}"
 <>"deg); display:inline-block;
   font-size: "
   <>
 "#{e.size}"
 <>"px; "<>
 "color: hsl("<>"#{e.color}"<>", 60%, 55%);"
 
 }
><%=
 (inspect e.id)
<> ": "<> (inspect :erlang.read_timer(e.timer));
"Ящер: "<> inspect e.id

 %></span>
 <%# <span>🦎</span> %>
 <span style={"font-family:monospace;
 position: absolute; top: "<>
 "#{e.top+80}"
 <>"px; left: "<>
 "#{e.left}"
 <>"px; "<>
 "filter: hue-rotate("<>
 "#{e.color}"
 <>"deg) ;
 font-size: "
   <>
 "#{32+e.tilt}"
 <>"px;

transform: rotate("<>
 "#{e.tilt*33}"
 <>"deg);


filter: contrast(100%);
filter: opacity(60%);

 "
 
 }>🦎</span>
<% end %>

    <h3>devices</h3>
    <h3>nodes</h3>
<%=  for e <- [Node.self | Node.list] do %>
<span><%= inspect e %></span>
<% end %>
    </body>
</html>