<!DOCTYPE html>
<html>
    <head>
        <title>My Template</title>
        <meta charset="UTF-8">
    </head>
    <body>

    <h3>cells</h3>
    <h3>characters</h3>

    <h3>users</h3>
<%=  for e <- M4.get2 do %>
<span
style={"font-family:monospace;
 position: absolute; top: "<>
 "#{e.top}"
 <>"px; left: "<>
 "#{e.left}"
 <>"px;
  transform: rotate("<>
 "#{e.tilt}"
 <>"deg); display:inline-block;
   font-size: "
   <>
 "#{e.size}"
 <>"px; "<>
 "color: hsl("<>"#{e.color}"<>", 40%, 55%);"
 
 }
><%=
 (inspect e.id)
<> ": "<> (inspect :erlang.read_timer(e.timer))
 %></span>
<% end %>

    <h3>devices</h3>
    <h3>nodes</h3>
<%=  for e <- [Node.self | Node.list] do %>
<span><%= inspect e %></span>
<% end %>
    </body>
</html>