<!DOCTYPE html>
<html>
    <head>
        <title>My Template</title>
        <meta charset="UTF-8">
    </head>
    <body>
    <h3>nodes</h3>
    <h3>cells</h3>
    <h3>characters</h3>
    <h3>users</h3>
    <h3>devices</h3>
    <h3>nodes</h3>
<%=  inspect [Node.self | Node.list] %>
    </body>
</html>