 <%= for e <- @list do %>


 <span style={"font-family:monospace;
 position: relative; top: -1px;
  transform: rotate("<>
 "#{:rand.uniform(6)-3}"
 <>"deg); display:inline-block;
   font-size: "
   <>
 "#{:rand.uniform(18)+16}"
 <>"px; "<>
 "color: "<>
 Enum.random ["Orange", "Tomato", "Magenta"]}>
 
 <%= e %></span>
<% end %> 

